.wcd-select-wrapper .wcd-select {
    display: none;
}

.wcd-select-wrapper .wcd-select-value-wrapper {
    display: flex;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.wcd-select-wrapper .wcd-select-value {
    flex: 1 1 auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 1.5rem;
    cursor: default;
}

.wcd-select-wrapper .wcd-select-value-clear {
    cursor: pointer;
    padding-left: 0.375rem;
}

.wcd-select-wrapper .option {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.wcd-select-wrapper .option:hover {
    white-space: normal;
}

.wcd-select-wrapper .option-wrapper {
    padding: 0.375rem 0.75rem;
    display: flex;
    align-items: center;
}

.wcd-select-wrapper .option-wrapper:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.wcd-select-wrapper {
    position: relative;
}

.wcd-select-wrapper .wcd-drop {
    overflow-y: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 9999;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
}

.wcd-select-wrapper.top .wcd-drop {
    bottom: 100%;
}

.wcd-select-wrapper .option-check {
    --bs-text-opacity: 1;
    padding-left: 0.375rem;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

.wcd-select-wrapper.select-active .wcd-select-value-wrapper {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: rgb(134, 183, 254);
    outline: 0px;
    box-shadow: rgba(13, 110, 253, 0.25) 0px 0px 0px 0.25rem;
}

.wcd-select-wrapper .wcd-drop {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: rgb(134, 183, 254);
    outline: 0px;
    box-shadow: 
        rgba(13, 110, 253, 0.25) -0.125rem 0 0 0.125rem,
        rgba(13, 110, 253, 0.25) 0.125rem 0 0 0.125rem,
        rgba(13, 110, 253, 0.25) 0 0.125rem 0 0.125rem;
}

.wcd-select-wrapper:has(.form-control.is-invalid) .wcd-select-value-wrapper, .was-validated .wcd-select-wrapper:has(.form-control:invalid) .wcd-select-value-wrapper {
    border-color: var(--bs-form-invalid-border-color);
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.wcd-select-wrapper:has(.form-control.is-valid) .wcd-select-value-wrapper, .was-validated .wcd-select-wrapper:has(.form-control:valid) .wcd-select-value-wrapper {
    border-color: var(--bs-form-valid-border-color);
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}