.wcd-select {
	display: none;
}

.wcd-select-value-wrapper {
	display: flex;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	background-clip: padding-box;
	border: var(--bs-border-width) solid var(--bs-border-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: var(--bs-border-radius);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.wcd-select-value {
	flex: 1 1 auto;
	overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	min-height: 1.5rem;
}

.wcd-select-value-clear {
	cursor: pointer;
	padding-left: .375rem;
}

.wcd-select-value-wrapper.select-active {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.wcd-select-wrapper .option {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: 1 1 auto;
}

.wcd-select-wrapper .option:hover {
	white-space: normal;
}

.wcd-select-wrapper .option-wrapper {
	padding: .375rem .75rem;
	display: flex;
	align-items: center;
}

.wcd-select-wrapper .option-wrapper:hover {
	background-color: var(--bs-primary);
	color: var(--bs-white);
}

.wcd-select-wrapper {
	position: relative;
}

.wcd-select-wrapper .wcd-drop {
	overflow-y: auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: var(--bs-body-bg);
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.wcd-select-wrapper .wcd-drop.top {
	bottom: 100%;
}

.option-check {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb),var(--bs-text-opacity))!important;
	padding-left: .375rem;
}