  .wcdLoad.large {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-items: anchor-center;
    align-content: center;
    z-index: 9999;
  }

  .wcdLoad.small {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
  }

  .wcdLoad.large .loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .wcdLoad.small .loader {
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  .wcdIsLoading {
    overflow: hidden;
  }

  .wcdApproval {
    display: none;
  }

  /* SummerNote BS Validation */
  .was-validated textarea:valid+.note-frame {
    border-color: #28a745;
    border-color: var(--bs-form-valid-border-color);
  }

  .was-validated textarea:invalid+.note-frame {
    border-color: #b94a48;
    border-color: var(--bs-form-invalid-border-color);
  }

  .modal-backdrop {
    --bs-backdrop-opacity: 0.75;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  table:not(.dataTable) .sorting:not(.sorting_asc):not(.sorting_desc):after {
    font-family: "Font Awesome 6 Free";
    content: '\f0dc';
    text-decoration: unset !important;
  }

  table:not(.dataTable) .sorting.sorting_asc:after {
    font-family: "Font Awesome 6 Free";
    content: '\f0de';
    text-decoration: unset !important;
  }

  table:not(.dataTable) .sorting.sorting_desc:after {
    font-family: "Font Awesome 6 Free";
    content: '\f0dd';
    text-decoration: unset !important;
  }

  .floating {
    padding: .6rem .75rem;
  }

  .floating label {
    opacity: .65;
    font-size: .8rem;
  }

  .link-primary {
    text-decoration: none;
  }