.wcd-select {
	display: none;
}

.wcd-select-value.select-active {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.wcd-select-wrapper .option {
	padding: .375rem .75rem;
}

.wcd-select-wrapper .option-wrapper {
	display: flex;
	align-items: center;
}

.wcd-select-wrapper .option-wrapper:hover {
	background-color: var(--bs-primary);
	color: var(--bs-white);
}

.wcd-select-wrapper {
	position: relative;
}

.wcd-select-wrapper .wcd-drop {
	overflow-y: auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: var(--bs-body-bg);
}

.wcd-select-wrapper .wcd-drop.top {
	bottom: 100%;
}